#titulo{
    background: rgb(247, 207, 133);
    color:darkslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
#s1 {
    color: darkslategray;
}
.sombra {
    text-shadow: 0px 2px 0px darkslategray;    
}
.typo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}
.parrafo {
    font-size:medium;
    color:slategrey;
}
#mango {
    color: orange;
    font-size: 30px;
}
#pera {
    color: green;
    font-size: 30px;
}
#palta {
    color: purple;
    font-size: 30px;
}

.div1 {
    margin: 10px 20px;
}
#cita {
    font-size:medium;
    color:darkslategrey;  
    text-align: center  
}
.div2 {
    background: papayawhip;
    border-radius: 10px;
    display:inline-block;
    margin: 10px 20px;
}
.imagen {
    width: 350px;
}